h1
{
    margin: 10px;
}

body{
    background-color: black;
    color: red;
}

.barbara{
  color: red;
}

.padding
{
    padding: 45px;
}

.card_bg
{
    background-color: black;
}