body{
    background-color: black;
    color: red;
}

.card_bg
{
    background-color: black;
}

.szélső_kép
{
    width: 300px;
    height: auto;
}

.padding
{
    padding: 45px;
}

.cim{
    text-shadow: 2px 2px 2px #04CCFE;
}

.barbara{
  color: red;
}

.table{
    color: red;
    float: left;
}

form{
    color: red;
}