div{
    background-color: black;
}

body{
    background-color: black;
}

h1{
    color: red;
}

p{
    color:red;
}

h5{
    color: red;
}

.card_bg{
    background-color: black;
}

.barbara{
  color: red;
}

.padding
{
    padding: 45px;
}