body{
    margin:25px;
    background-color: black;
    color: red;
}

#card-body
{
    background-color: black;
}

#szélső_kép
{
    width: 300px;
    height: 450px;
}

#padding
{
    padding: 45px;
}

#cim{
    text-shadow: 2px 2px 2px #04CCFE;
}